<h1>Editing dish</h1>

<%= render "form", dish: @dish %>

<br>

<div>
  <%= link_to "Show this dish", restaurant_category_dish_path(1, @dish.category_id, @dish.id) %> |
  <%= link_to "Back to dishes", restaurant_category_dishes_path %>
</div>
