<h1>Dishes</h1>

<div id="dishes">
  <% @dishes.each do |dish| %>
    <%= render dish %>
    <p>
      <%= link_to "Show this dish", restaurant_category_dish_path(1, dish.category_id, dish.id) %>
    </p>
  <% end %>
</div>

<%= link_to "New dish", new_restaurant_category_dish_path %>
