<div id="<%= dom_id restaurant %>">
  <p>
    <strong>Phone number:</strong>
    <%= restaurant.phone_number %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= restaurant.food %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= restaurant.image %>
  </p>

</div>
