<h1>Editing category</h1>

<%= render "form", category: @category %>

<br>

<div>
  <%= link_to "Show this category", restaurant_category_path(@category.restaurant_id, @category.id) %> |
  <%= link_to "Back to categories", restaurant_categories_path %>
</div>
